
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

*.exe
SDL2*
SDL2/*
.vscode/settings.json
*.o
*.exe
*_test.c
test_*.c
.DS_Store
*.h.gch
*.gch
